<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<div class="container mb-4">
  <div class="section-title">
      <h1>Meet the team</h1>
  </div>
  <div class="row mb-5">
      <div class="column col-lg-3 col-md-6 col-sm-12 mb-4">
          <div class="TeamM">
              <div class="team-img">
                  <img src="assets/images/purvapic.jpg" alt="Team Image">
              </div>
              <div class="team-content">
                  <h2>Purva Patel</h2>
                  <h3>Networking and IT Security</h3>
                  <p>
                    Motivated Networking & IT Security student at Ontario Tech, adept in Python, networking, problem-solving, communication, eager to impact Cybersecurity and business.</p>
                  <h4>purvapatel4725@gmail.com</h4>
                  <div class="divider"></div>
                  <div class="social-buttons text-center mt-3">
                    <a href="https://www.linkedin.com/in/purva-patel-78a10121b/" target="_blank" class="mr-4">
                        <i class="fab fa-linkedin fa-2x"></i> 
                    </a>
                    <a href="https://github.com/Purvapatel4725" target="_blank">
                        <i class="fab fa-github fa-2x"></i> 
                    </a>
                </div>
              </div>
          </div>
      </div>
      <div class="column col-lg-3 col-md-6 col-sm-12 mb-4">
          <div class="TeamM">
              <div class="team-img">
                  <img src="assets/images/purvampic.jpg" alt="Team Image">
              </div>
              <div class="team-content">
                  <h2>Purvam Patel</h2>
                  <h3>Networking and IT Security</h3>
                  <p>
                    Passionate student pursuing Networking & IT Security at Ontario Tech, dedicated to merging business and technology realms.
                  </p>
                  <h4>purvampatel007@gmail.com</h4>
                  <div class="divider"></div>
                  <div class="social-buttons text-center mt-3">
                    <a href="https://www.linkedin.com/in/purvampatel/" target="_blank" class="mr-4">
                        <i class="fab fa-linkedin fa-2x"></i> 
                    </a>
                    <a href="https://github.com/Purvampatel" target="_blank">
                        <i class="fab fa-github fa-2x"></i> 
                    </a>
                </div>
              </div>
          </div>
      </div>
      <div class="column col-lg-3 col-md-6 col-sm-12 mb-4">
          <div class="TeamM">
              <div class="team-img">
                  <img src="assets/images/chinmayapic.jpg" alt="Team Image">
              </div>
              <div class="team-content">
                  <h2>Chinmaya Ramani</h2>
                  <h3>Tech Management</h3>
                  <p>Enthusiastic second-year Tech Management student passionate about tech, programming, web scripting, and embracing endless possibilities.
                  </p>
                  <h4>ramanichinmay@gmail.com</h4>
                  <div class="divider"></div>
                  <div class="social-buttons text-center mt-3">
                    <a href="https://www.linkedin.com/in/chinmaya-ramani-b89308254/" target="_blank" class="mr-4">
                        <i class="fab fa-linkedin fa-2x"></i> 
                    </a>
                    <a href="https://github.com/chinmayaramani" target="_blank">
                        <i class="fab fa-github fa-2x"></i> 
                    </a>
                </div>
              </div>
          </div>
      </div>
      <div class="column col-lg-3 col-md-6 col-sm-12 mb-4">
        <div class="TeamM">
            <div class="team-img">
                <img src="assets/images/saakethpic.jpg" alt="Team Image">
            </div>
            <div class="team-content">
                <h2>Saaketh Potluri</h2>
                <h3>Tech Management</h3>
                <p>
                    Second-year Tech Management student at Ontario Tech passionate about coding, tackling challenges, sports enthusiast aiming to contribute to tech.</p>
                  <h4>saaketh.potluri@gmail.com</h4>
                <div class="divider"></div>
                <div class="social-buttons text-center mt-3">
                    <a href="https://www.linkedin.com/in/saaketh-potluri-a76a2b272/" target="_blank" class="mr-4">
                        <i class="fab fa-linkedin fa-2x"></i> 
                    </a>
                    <a href="https://github.com/Saaketh01" target="_blank">
                        <i class="fab fa-github fa-2x"></i> 
                    </a>
              </div>
            </div>
        </div>
    </div>
      <div class="column col-lg-3 col-md-6 col-sm-12 mb-4">
          <div class="TeamM">
              <div class="team-img">
                  <img src="assets/images/shalinpic.jpg" alt="Team Image">
              </div>
              <div class="team-content">
                  <h2>Shalin Vaidya</h2>
                  <h3>Tech Management</h3>
                  <p>
                    A second-year international student specializing in I.T. Tech Management, aiming to become a Data Scientist. My interest in technology centers around data and innovation.</p>
                    </p>
                  <h4>vaidyashalin@gmail.com</h4>
                  <div class="divider"></div>
                  <div class="social-buttons text-center mt-3">
                    <a href="https://www.linkedin.com/in/shalin-vaidya-b944a8245/" target="_blank" class="mr-4">
                        <i class="fab fa-linkedin fa-2x"></i> 
                    </a>
                    <a href="https://github.com/shalin1144" target="_blank">
                        <i class="fab fa-github fa-2x"></i> 
                    </a>
                </div>
              </div>
          </div>
      </div>
  </div> 
</div>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>
