<footer>
    <nav class="Footer-navbar fixed-bottom navbar-dark p-1" style="background-color: #008080;">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <h6 class="navbar-text">&copy; 2023 Group 12. All Rights Reserved.</h6>
            <div class="d-flex align-items-center">
                <a href="https://github.com/Purvapatel4725/Web-ScriptGroupProject" target="_blank" class="mr-3 ml-3">
                    <i class="fab fa-github" style="font-size: 24px; color: #fff;"></i>
                </a>
                <a href="#" onclick="toggleNamesPopup()" class="mr-3" style="margin-left: 8px;">
                    <i class="fab fa-linkedin" style="font-size: 24px; color: #fff;"></i>
                </a>
                <div class="names-popup" id="namesPopup" style="display: none;">
                    <!-- LinkedIn profiles -->
                    <a href="https://www.linkedin.com/in/purva-patel-78a10121b/" onclick="openLinkedIn('John')">Purva</a>
                    <a href="https://www.linkedin.com/in/purvampatel/" onclick="openLinkedIn('Alice')">Purvam</a>
                    <a href="https://www.linkedin.com/in/chinmaya-ramani-b89308254/" onclick="openLinkedIn('Bob')">Chinmaya</a>
                    <a href="https://www.linkedin.com/in/saaketh-potluri-a76a2b272/" onclick="openLinkedIn('Emma')">Saaketh</a>
                </div>
            </div>
        </div>
    </nav>
</footer>


