<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Test Nav</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <% if (title === "Blog Post List") { %>
                  <a class="nav-link active" href="/blog">
                <% } else { %> 
                  <a class="nav-link" href="/blog">
                <% } %>
                <i class="fa-solid fa-newspaper"></i> Blog</a>
              </li>
            </ul>
        </div>
      </div>
    </nav>


    


      

      
      