<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark custom-navbar" style="background-color: #008080;">
  <div class="container-fluid text-center">

    <!-- Navbar Toggler Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Content -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto"> <!-- Changed ms-auto to me-auto for alignment -->
        
        <!-- Home Link -->
        <li class="nav-item">
          <% if(title=="Home" ) { %>
            <a class="nav-link active hoverable" href="/">
          <% } else { %>
            <a class="nav-link hoverable" href="/">
          <% } %>
          <i class="fa-sharp fa-solid fa-house"></i>  Home
          </a>
        </li>

        <!-- Blogs Link -->
        <li class="nav-item">
          <% if(title=="Blogs" ) { %>
            <a class="nav-link active hoverable" href="/blog">
          <% } else { %>
            <a class="nav-link hoverable" href="/blog">
          <% } %>
          <i class="fa-sharp fa-solid fa-pen-nib"></i>  Blogs
          </a>
        </li>

        <!-- About Us Link -->
        <li class="nav-item">
          <% if(title=="about" ) { %>
            <a class="nav-link active hoverable" href="/about">
          <% } else { %>
            <a class="nav-link hoverable" href="/about">
          <% } %>
          <i class="fa-sharp fa-solid fa-address-card"></i>  About us
          </a>
        </li>

        <!-- Login/Logout Link (Based on User Authentication) -->
        <% if(typeof displayName=='string' && displayName) { %>
          <li class="nav-item">
            <a href="/logout" class="nav-link hoverable">
              <i class="fa-sharp fa-solid fa-right-from-bracket"></i>  Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a href="/login" class="nav-link hoverable">
              <i class="fa-sharp fa-solid fa-right-to-bracket"></i>  Login</a>
          </li>
        <% } %>
      </ul>
    </div>

    <!-- Display User Welcome (if authenticated) -->
    <ul class="navbar-nav ms-auto">
      <li class="navbar-text">
        <% if(typeof displayName=='string' && displayName) { %>
          <i class="fa-solid fa-user fa-bounce"></i> Welcome, <%= displayName %>
        <% } %>
      </li>
    </ul>
  </div>
</nav>
<!-- End of Navigation Bar -->




<script>
  document.addEventListener("DOMContentLoaded", function() {
    const navbarToggler = document.querySelector(".navbar-toggler");
    const welcomeText = document.querySelector(".navbar-text");

    navbarToggler.addEventListener("click", function() {
      if (welcomeText.style.display !== "none") {
        welcomeText.style.display = "none";
      } else {
        welcomeText.style.display = "block";
      }
    });
  });
</script>
