<nav class="navbar navbar-expand-lg navbar-dark custom-navbar" style="background-color: #008080;">
  <div class="container-fluid text-center">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto"> <!-- Changed ms-auto to me-auto for alignment -->
        <li class="nav-item">
          <% if(title=="Home" ) { %>
            <a class="nav-link active hoverable" href="/">
          <% } else { %>
            <a class="nav-link hoverable" href="/">
          <% } %>
            Home
          </a>
        </li>
        <li class="nav-item">
          <% if(title=="Blogs" ) { %>
            <a class="nav-link active hoverable" href="/blog">
          <% } else { %>
            <a class="nav-link hoverable" href="/blog">
          <% } %>
            Blogs
          </a>
        </li>
        <li class="nav-item">
          <% if(title=="about" ) { %>
            <a class="nav-link active hoverable" href="/about">
          <% } else { %>
            <a class="nav-link hoverable" href="/about">
          <% } %>
            About us
          </a>
        </li>
        <% if(typeof displayName=='string' && displayName) { %>
          <li class="nav-item">
            <a href="/logout" class="nav-link hoverable">
              Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a href="/login" class="nav-link hoverable">
              Login</a>
          </li>
        <% } %>
      </ul>
    </div>
    <ul class="navbar-nav ms-auto">
      <li class="navbar-text">
        <% if(typeof displayName=='string' && displayName) { %>
          <i class="fa-solid fa-user fa-bounce"></i> Welcome, <%= displayName %>
        <% } %>
      </li>
    </ul>
  </div>
</nav>
