<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-sharp fa-solid fa-house"></i> Home</a>
  </div>
</nav> 