<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #008080; padding-top: 1px; padding-bottom: 1px;">
  <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-sharp fa-solid fa-house"></i> Home</a>
  </div>
</nav> 