<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add/Edit page -->
<div class="container p-5" style="color: white;">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <h1 class="h4 mb-3 text-center"><strong>Add Blog</strong></h1>

                    <!-- Blog Post Form -->
                    <form class="form" method="POST" action="/blog/add"> 
                        <!-- Title Input Field -->
                        <div class="mb-3">
                            <label for="titleTextField" class="form-label"><strong>Title</strong></label>
                            <input type="text" class="form-control"
                            id="titleTextField"
                            placeholder="Enter the Blog Post Title"
                            maxlength="60"
                            name="title" required>
                            <p id="charCount" style="font-size: 12px; color: #6c757d; margin-top: 5px;">0/60</p>
                        </div>

                        <!-- Content Textarea -->
                        <div class="mb-3">
                            <label for="contentTextArea" class="form-label"><strong>Content</strong></label>
                            <textarea type="text" class="form-control" rows="7"
                            id="contentTextArea"
                            placeholder="Enter the Content of the Blog Post"
                            name="content" required></textarea>
                        </div>

                        <!-- Submit and Cancel Buttons -->
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary btn-block" type="submit" style="background-color: #008080;">
                                <i class="fas fa-edit"></i> Submit</button>
                        
                            <a href="/blog" class="btn btn-warning btn-block mt-2" style="background-color: #008080; color: white;"> 
                                <i class="fas fa-undo"></i> Cancel</a> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %>
