<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>
<main>
  <div class="jumbotran jumbotran-fluid">
    <div class="container">
      <h1 class="display-4"> Welcome to the <%= title %></h1>
    </div>
  </div>
</main>
<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>