<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>
<div class="container">
  <div class="row mt-3">
    <div class="col-md-6 offset-md-3 text-center">
      <h1><i class="fas fa-quote-left fa-shake"></i> Blogiify <i class="fas fa-quote-right fa-shake"></i><br>Stop Thinking, Start Writing!</h1>
    </div>
  </div>

  <section class="mt-3">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <article>
          <h2>Welcome to Blogiify!</h2>
          <img src="/assets/images/Logo.png" alt="Blogify Logo" style="max-width: 200px; margin-top: 20px;">
          <p>Start sharing your thoughts and experiences with the world.<br>Blogiify provides you with a user-friendly platform to create and publish your thoughts.</p>
        </article>

        <article>
          <a href="/blog" class="btn btn-dark">Start Blogging</a>
        </article>
      </div>
    </div>
  </section>
</div>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>