.custom-navbar {
  padding-top: 5px; 
  padding-bottom: 5px; 
  background-color: #008080;
}

.custom-navbar .navbar-brand {
  font-size: 1.5rem; 
}


body {
  font-family: 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #000000;
}

.container{
  color: #008080;
}

header {
  background-color: #008080;
  color: #000000;
  padding: 20px;
  text-align: center;
  
}

h1 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
}

section {
  max-width: 400px;
  margin: 20px auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article {
  margin-bottom: 30px;
  text-align: center;
  font-size: 17px;
}

article h2 {
  color: #008080;
  font-size: 35px;
}


.ListOfFeatures{
  list-style-type: none;
}

main.container {
  color: #008080;
}

.btn-primary {
  background-color: #008080;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
  border-radius: 15px;
  background-color: #fff;
  color: #000;
}
