.custom-navbar {
  padding-top: 5px; 
  padding-bottom: 5px; 
  background-color: #008080;
}

.custom-navbar .navbar-brand {
  font-size: 1.5rem; 
}

/* Navbar styles */
.navbar {
  text-align: center !important;
  float: none;
  display: inline-block;
  background-color: #008080; /* Background color for the navbar */
  color: aqua; /* Text color for the navbar */
  width: 100%; /* Spanning full width */
}

.navbar li {
  margin-left: 3em;
  margin-right: 3em;
  display: inline-block; /* Center the content */
}

.navbar a {
  transition: .5s color ease-in-out;
  display: inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: translateZ(0);
  transition-duration: .3s;
  transition-property: transform;
  color: white;
}

.navbar a:before {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.navbar a:hover,
.navbar a:active,
.navbar a:focus {
  transform: translateY(-5px);
}

.navbar a:hover:before,
.navbar a:active:before,
.navbar a:focus:before {
  opacity: 1;
  transform: translateY(-5px);
}



body {
  font-family: 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #000000;
}

.container{
  color: #008080;
}

header {
  background-color: #008080;
  color: #000000;
  padding: 20px;
  text-align: center;
  
}

h1 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
}

#home{
  max-width: 400px;
  margin: 20px auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about{
  background: linear-gradient(to bottom, #c6ffdd, #fbd786, #f7797d);
  background-size: cover;
  background-repeat: no-repeat;
  margin:0px;
  padding: 30px;
  height: 100vh;
}

article {
  margin-bottom: 30px;
  text-align: center;
  font-size: 17px;
}

article h2 {
  color: #008080;
  font-size: 35px;
}


.ListOfFeatures{
  list-style-type: none;
}

main.container {
  color: #008080;
}

.btn-primary {
  background-color: #008080;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
  border-radius: 15px;
  background-color: #fff;
  color: #000;
}

.card-title {
  font-weight: 700 !important;
  font-size: 1.5rem;
}
