<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<main class="container-fluid d-flex align-items-center justify-content-center mb-5" style="height: 100vh; background: linear-gradient(to bottom, #f5f5f5, white);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 d-flex align-items-center justify-content-center mb-4"> 
                <img src="/assets/images/Logo.png" alt="Your Image" class="img-fluid  img-hide-custom">
            </div>
            <div class="col-md-1 d-none d-md-block"> 
                <hr class="vertical-line">
            </div>
            <div class="col-md-6 mb-5">
                <div class="card mt-1 shadow">
                    <div class="card-body p-4">
                        <h1 class="card-title text-center mb-4" style="color: #333; font-family: 'Arial', sans-serif;">Please Register</h1>
                        <form method="post" autocomplete="off">
                            <div class="mb-3">
                                <label for="username" class="form-label" style="color: #555;">Username</label>
                                <input type="text" class="form-control" name="username" placeholder="Enter username" id="username" required autofocus>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label" style="color: #555;">Password</label>
                                <input type="password" class="form-control" name="password" placeholder="Enter password" id="password" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label" style="color: #555;">Email Address</label>
                                <input type="email" class="form-control" name="email" placeholder="Enter Email Address" id="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="displayName" class="form-label" style="color: #555;">Display Name</label>
                                <input type="text" class="form-control" name="displayName" placeholder="Enter display name" id="displayName" required>
                            </div>
                            <div class="mb-3 d-flex justify-content-center">
                                <button type="submit" class="btn btn-success btn-block" style="background-color: #008080; border-color: #008080;">Register</button>
                            </div>
                            <div class="text-center">
                                <p class="mt-3" style="color: #777;">Already have an account? <a href="/login" style="color: #007bff; text-decoration: none;">Login here</a></p>
                                <a href="/" class="btn btn-outline-secondary">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>

